* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link, a:hover, a:visited {
    color: #082841;
    text-decoration: none;
}
/* main_header */
#main_header {
    width: 100%;
    background: #fef100;
}
#main_header nav {
    max-width: 1200px;
    width: 100%;
    font-size: 1em;
    margin: 0 auto;
}

/* menu */
#menu {
    position: relative;
    height: 130px;
}
/* trigger */
#menu #trigger_div {
    position: absolute;
    top: 20px;
    left: 10px;
}
#menu #trigger_div a#trigger {
    width: 30px;
    height: 30px;
    padding-left: 15px;
    line-height: 30px;
    color: #db2c31;
}
#menu #logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-top: 15px;
}
#menu #i_group {
    position: absolute;
    top: 30px;
    right: 15px;
}
#menu #i_group a {
    color: #db2c31;
}
#menu #i_group a:first-child {
    margin-right: 5px;
}

/* gnb */
.gnb {
    display: block;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}
.gnb li {
    display: inline-block;
    width: 16.2%;
    max-width: 200px;
    height: 77px;
    line-height: 77px;
    text-align: center;
    font-size: 1em;
    background: url("../img/menu_li.png") no-repeat 0 30px;
}
.gnb li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.gnb li:first-child {
    background: none;
}
.gnb li:hover a {
    color: #db2c31;
    border-bottom: 3px solid #db2c31;
}


@media screen and (max-width:1024px) {
    .gnb li {
        width: 15.2%;
    }
}
@media screen and (max-width:640px) {
    #main_header nav {
        width: 100%;
        height: auto;
    }
    .gnb {
        display: none;
        width: 100%;
        height: auto;
    }
    .gnb li {
        display: block;
        width: 100%;
        max-width: 100%;
        background: none;
    }
    .gnb li:hover a {
        color: #082841;
        border-bottom: 0;
    }
}